In [1]:
import pandas as pd
from Symbols_df import Symbols_df_maker
try:
    df = pd.read_csv("Symbols.csv")
except: 
    Symbols_df_maker()
    df = pd.read_csv("Symbols.csv")

df

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [2]:
# N =: number of stucks

N = input("pleas enter the number of the stocks:")
while type(N) != int:
    try:
        N = int(N)
    except:
        print("The entry is not an integer!")
        N = input("pleas enter as integer as the number of the stocks:")
#print(N)

In [3]:
print("Pleas enter the symboles of stoks that you want to be under consideration.\n")
List_stocks = set()
set_symbols = set(df['Symbol'])
counter = 0
for i in range(N):
    while True:
        counter += 1
        temp = str(input(f"pleas enter the {i}th symbol:"))
        if temp.upper() in set_symbols:
            List_stocks.add(temp.upper())
            break
        else :
            print(f"{temp.upper()} isn't a valid symbol! Try again.")
        if counter == 5:
            print(f"First check your symbols! See you.")
            break          
print(List_stocks)

Pleas enter the symboles of stoks that you want to be under consideration.

APPL isn't a valid symbol! Try again.

In [ ]:
# CONSIDER!
print(List_stocks)
List_stocks = {'AAPL', 'MSFT', 'NVDA', 'GOOGL', 'IBM'}

{'NVDA', 'GOOGL', 'MSFT'}

# Start date  / End date / Interval

In [ ]:
min_date = []
for ticker in tickers:
    ticker_temp = yf.Ticker(ticker)
    hist = ticker_temp.history(period="max")
    print(f"The lowest valid date for {ticker} is {hist.index.min()}")
    hist = str(hist.index.min())
    hist = str(hist[:9])
    min_date.append([int(hist[0:4]),int(hist[5:7]),int(hist[8:])])
print(min(min_date))

The lowest valid date for MSFT is 1986-03-13 00:00:00-05:00
The lowest valid date for NVDA is 1999-01-22 00:00:00-05:00
The lowest valid date for GOOGL is 2004-08-19 00:00:00-04:00
The lowest valid date for AAPL is 1980-12-12 00:00:00-05:00
The lowest valid date for IBM is 1962-01-02 00:00:00-05:00
[1962, 1, 0]

In [29]:
from datetime import date
import yfinance as yf 

today = str(date.today())
print(f"Note that Format of date is YYYY-MM-DD!, like {today}")
temp = []
temp.append(int(today[0:4])) 
temp.append(int(today[5:7]))
temp.append(int(today[8:]))
today = temp[:]

print("Given the Start data of each stock enter a valid start data!")
tickers = {'AAPL', 'MSFT', 'NVDA', 'GOOGL', 'IBM'}

min_dates = []
for ticker in tickers:
    ticker_temp = yf.Ticker(ticker)
    hist = ticker_temp.history(period="max")
    #print(f"The lowest valid date for {ticker} is {hist.index.min()}")
    hist = str(hist.index.min())
    hist = str(hist[:9])
    min_dates.append([int(hist[0:4]),int(hist[5:7]),int(hist[8:])])

max_date = max(min_date)
print(f"Given your ticker(s) list the minimum valid date is {max_date[0]}-{max_date[1]}-{max_date[2]}.")

def data_format_validation(date):
    
    for i in range(len(date)):
        if i in [4, 7]:
            if date[i] != "-":
                return False
        else:
            try:
                int(date[i])
            except:
                return False
    if int(date[8]+date[9]) > 31 or int(date[5]+date[6]) not in range(0,13):
        return False
        
    return True
#1m - 7days, 2m, 5m, 15m, 30m, 60m, 90m - 60 days, 1d(defult), 5d, 1wk, 1mo, 3mo -full history


S_date = str(input(f"Enter Start Date:"))

if data_format_validation(S_date):
    temp = []
    temp.append([int(S_date[0:4]),int(S_date[5:7]),int(S_date[8:])])
    S_date = temp[0][:]
    print(S_date)
    if S_date[0] < max_date[0] or S_date[1]<max_date[1] or S_date[2]<max_date[2] :
        print(f" Entered data is not in valid range. Start data must be grater than equal {max_date[0]}-{max_date[1]}-{max_date[2]}")
else:
    print('Entered data is not in accepteable format!')    
    
E_date = str(input(f"Enter End Date:"))  

if data_format_validation(E_date):
    temp = []
    temp.append([int(E_date[0:4]),int(E_date[5:7]),int(E_date[8:])])
    E_date = temp[0][:]
    print(E_date)
    if E_date[0] < today[0] or E_date[1]<today[1] or E_date[2]<today[2] :
        print(f" Entered data is not in valid range. Start data must be less than equal {today[0]}-{today[1]}-{today[2]}")
else:
    print('Entered data is not in accepteable format!')

Note that Format of date is YYYY-MM-DD!, like 2025-10-26
Given the Start data of each stock enter a valid start data!
Given your ticker(s) list the minimum valid date is 2004-8-1.
[2004, 8, 1]
[2025, 10, 26]

In [ ]:
from datetime import date, datetime
import yfinance as yf
import re

# --- Helper Functions ---

def valid_date_format(d):
    """Check date format YYYY-MM-DD using regex."""
    return bool(re.fullmatch(r"\d{4}-\d{2}-\d{2}", d))

def parse_date(d):
    """Convert string date to datetime object."""
    return datetime.strptime(d, "%Y-%m-%d").date()

# --- Today‚Äôs Date ---
today = date.today()
print(f"Note: Date format is YYYY-MM-DD (e.g., {today})")

# --- Find Earliest Available Dates ---
tickers = ['AAPL', 'MSFT', 'NVDA', 'GOOGL', 'IBM']
min_dates = []

for t in tickers:
    ticker_data = yf.Ticker(t).history(period="max")
    earliest = ticker_data.index.min().date()
    min_dates.append(earliest)
    print(f"The earliest valid date for {t} is {earliest}")

max_date = max(min_dates)
print(f"\nüëâ The latest of all minimum dates is {max_date}")

# --- Get Start Date ---
S_date_input = input("\nEnter Start Date (YYYY-MM-DD): ")

if valid_date_format(S_date_input):
    S_date = parse_date(S_date_input)
    if S_date < max_date:
        print(f"‚ùå Invalid: Start date must be >= {max_date}")
    else:
        print(f"‚úÖ Start date accepted: {S_date}")
else:
    print("‚ùå Invalid format! Please use YYYY-MM-DD")

# --- Get End Date ---
E_date_input = input("\nEnter End Date (YYYY-MM-DD): ")

if valid_date_format(E_date_input):
    E_date = parse_date(E_date_input)
    if E_date > today:
        print(f"‚ùå Invalid: End date must be <= {today}")
    else:
        print(f"‚úÖ End date accepted: {E_date}")
else:
    print("‚ùå Invalid format! Please use YYYY-MM-DD")

str