In [ ]:
import pandas as pd
from SP500_Symbol_checker import Symbols_df_maker
try:
    df = pd.read_csv("Symbols.csv")
except: 
    Symbols_df_maker()
    df = pd.read_csv("Symbols.csv")

df

d:\Projects\Coding_class_2025-Project\Symbols_df_final.py:39: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 39 of the file d:\Projects\Coding_class_2025-Project\Symbols_df_final.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  soup = BeautifulSoup(page.text, "html")

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [6]:
# N =: number of stucks

N = input("pleas enter the number of the stocks:")
while type(N) != int:
    try:
        N = int(N)
    except:
        print("The entry is not an integer!")
        N = input("pleas enter as integer as the number of the stocks:")
#print(N)

In [7]:
print("Pleas enter the symboles of stoks that you want to be under consideration.\n")
List_stocks = set()
set_symbols = set(df['Symbol'])
counter = 0
for i in range(N):
    while True:
        counter += 1
        temp = str(input(f"pleas enter the {i}th symbol:"))
        if temp.upper() in set_symbols:
            List_stocks.add(temp.upper())
            break
        else :
            print(f"{temp.upper()} isn't a valid symbol! Try again.")
        if counter == 5:
            print(f"First check your symbols! See you.")
            break          
print(List_stocks)

Pleas enter the symboles of stoks that you want to be under consideration.

{'NVDA', 'IBM', 'GOOGL', 'AAPL', 'MSFT'}

In [5]:
# CONSIDER!
#print(List_stocks)
List_stocks = {'AAPL', 'MSFT', 'NVDA', 'GOOGL', 'IBM'}

# Start date  / End date / Interval

In [9]:
min_date = []
for ticker in tickers:
    ticker_temp = yf.Ticker(ticker)
    hist = ticker_temp.history(period="max")
    print(f"The lowest valid date for {ticker} is {hist.index.min()}")
    hist = str(hist.index.min())
    hist = str(hist[:9])
    min_date.append([int(hist[0:4]),int(hist[5:7]),int(hist[8:])])
print(min(min_date))

The lowest valid date for IBM is 1962-01-02 00:00:00-05:00
The lowest valid date for MSFT is 1986-03-13 00:00:00-05:00
The lowest valid date for AAPL is 1980-12-12 00:00:00-05:00
The lowest valid date for GOOGL is 2004-08-19 00:00:00-04:00
The lowest valid date for NVDA is 1999-01-22 00:00:00-05:00
[1962, 1, 0]

In [10]:
from datetime import date
import yfinance as yf 

today = str(date.today())
print(f"Note that Format of date is YYYY-MM-DD!, like {today}")
temp = []
temp.append(int(today[0:4])) 
temp.append(int(today[5:7]))
temp.append(int(today[8:]))
today = temp[:]

print("Given the Start data of each stock enter a valid start data!")
# tickers = {'AAPL', 'MSFT', 'NVDA', 'GOOGL', 'IBM'}
tickers = List_stocks
min_dates = []
for ticker in tickers:
    ticker_temp = yf.Ticker(ticker)
    hist = ticker_temp.history(period="max")
    #print(f"The lowest valid date for {ticker} is {hist.index.min()}")
    hist = str(hist.index.min())
    hist = str(hist[:9])
    min_dates.append([int(hist[0:4]),int(hist[5:7]),int(hist[8:])])

max_date = max(min_dates)
print(f"Given your ticker(s) list the minimum valid date is {max_date[0]}-{max_date[1]}-{max_date[2]}.")

def data_format_validation(date):
    
    for i in range(len(date)):
        if i in [4, 7]:
            if date[i] != "-":
                return False
        else:
            try:
                int(date[i])
            except:
                return False
    if int(date[8]+date[9]) > 31 or int(date[5]+date[6]) not in range(0,13):
        return False
        
    return True



S_date = str(input(f"Enter Start Date:"))
temp = S_date

if data_format_validation(S_date):
    temp = []
    temp.append([int(S_date[0:4]),int(S_date[5:7]),int(S_date[8:])])
    S_date = temp[0][:]
    print(S_date)
    if S_date < max_date :
        print(f" Entered data is not in valid range. Start data must be grater than equal {max_date[0]}-{max_date[1]}-{max_date[2]}")
else:
    print('Entered data is not in accepteable format!')    
    
S_date = str(S_date[0])+ "-" + str(S_date[1]) + "-" + str(S_date[2])  # date is changed to string

E_date = str(input(f"Enter End Date:"))  

if data_format_validation(E_date):
    temp = []
    temp.append([int(E_date[0:4]),int(E_date[5:7]),int(E_date[8:])])
    E_date = temp[0][:]
    print(E_date)
    if E_date > today :
        print(f" Entered data is not in valid range. Start data must be less than equal {today[0]}-{today[1]}-{today[2]}")
else:
    print('Entered data is not in accepteable format!')  

E_date = str(E_date[0])+ "-" + str(E_date[1]) + "-" + str(E_date[2]) # date is changed to string

Note that Format of date is YYYY-MM-DD!, like 2025-10-28
Given the Start data of each stock enter a valid start data!
Given your ticker(s) list the minimum valid date is 2004-8-1.
[2004, 8, 1]
[2025, 10, 28]

In [30]:
from datetime import date, datetime
import yfinance as yf
import re

# --- Helper Functions ---

def valid_date_format(d):
    """Check date format YYYY-MM-DD using regex."""
    return bool(re.fullmatch(r"\d{4}-\d{2}-\d{2}", d))

def parse_date(d):
    """Convert string date to datetime object."""
    return datetime.strptime(d, "%Y-%m-%d").date()

# --- Today‚Äôs Date ---
today = date.today()
print(f"Note: Date format is YYYY-MM-DD (e.g., {today})")

# --- Find Earliest Available Dates ---
tickers = ['AAPL', 'MSFT', 'NVDA', 'GOOGL', 'IBM']
min_dates = []

for t in tickers:
    ticker_data = yf.Ticker(t).history(period="max")
    earliest = ticker_data.index.min().date()
    min_dates.append(earliest)
    print(f"The earliest valid date for {t} is {earliest}")

max_date = max(min_dates)
print(f"\nüëâ The latest of all minimum dates is {max_date}")

# --- Get Start Date ---
S_date_input = input("\nEnter Start Date (YYYY-MM-DD): ")

if valid_date_format(S_date_input):
    S_date = parse_date(S_date_input)
    if S_date < max_date:
        print(f"‚ùå Invalid: Start date must be >= {max_date}")
    else:
        print(f"‚úÖ Start date accepted: {S_date}")
else:
    print("‚ùå Invalid format! Please use YYYY-MM-DD")

# --- Get End Date ---
E_date_input = input("\nEnter End Date (YYYY-MM-DD): ")

if valid_date_format(E_date_input):
    E_date = parse_date(E_date_input)
    if E_date > today:
        print(f"‚ùå Invalid: End date must be <= {today}")
    else:
        print(f"‚úÖ End date accepted: {E_date}")
else:
    print("‚ùå Invalid format! Please use YYYY-MM-DD")

Note: Date format is YYYY-MM-DD (e.g., 2025-10-26)
The earliest valid date for AAPL is 1980-12-12
The earliest valid date for MSFT is 1986-03-13
The earliest valid date for NVDA is 1999-01-22
The earliest valid date for GOOGL is 2004-08-19
The earliest valid date for IBM is 1962-01-02

üëâ The latest of all minimum dates is 2004-08-19
‚úÖ Start date accepted: 2022-10-12
‚úÖ End date accepted: 2025-03-30

# interval

In [11]:
#1m - 7days, 2m, 5m, 15m, 30m, 60m, 90m - 60 days, 1d(defult), 5d, 1wk, 1mo, 3mo -full history
intervals = ["1m" , "2m", "5m", "15m", "30m", "60m", "90m", "1d", "5d", "1wk", "1mo" , "3mo"]
print("Acceptabale intervals are in the following form:")
print("\n one minutes (maximum duration must be 7 days!): 1m")
print("\n two, five, fifteen, therty, sixty and ninty minutes (maximum duration must be 60 days!): 2m, 5m, ..., 90m")
print("\n five day (without any ristriction on duration): 5d ")
print("\n one weak (without any ristriction on duration): 1wk ")
print("\n one or three month (without any ristriction on duration): 1mo, 3mo ")

interval = input("\n Enter your suitable onterval:")

if not interval in intervals:
    print("\n Entered interval is not acceptable!")
else:
    print(f"\n Entered interval is {interval}.")

Acceptabale intervals are in the following form:

 one minutes (maximum duration must be 7 days!): 1m

 two, five, fifteen, therty, sixty and ninty minutes (maximum duration must be 60 days!): 2m, 5m, ..., 90m

 five day (without any ristriction on duration): 5d

 one weak (without any ristriction on duration): 1wk

 one or three month (without any ristriction on duration): 1mo, 3mo

 Entered interval is 3mo.

# test df

In [15]:
data = yf.download(List_stocks, start=S_date, end=E_date , interval=interval)
data

C:\Users\Ali\AppData\Local\Temp\ipykernel_23756\2580813591.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(List_stocks, start=S_date, end=E_date , interval=interval)
[*********************100%***********************]  5 of 5 completed

Price            Close                                                  \
Ticker            AAPL       GOOGL         IBM        MSFT        NVDA
Date
2020-10-01  129.069901   87.031738   96.976883  213.261948   13.015271
2021-01-01  119.022453  102.419601  104.151039  226.654099   13.311559
2021-04-01  133.652710  121.253204  116.100243  261.025635   19.954401
2021-07-01  138.317612  132.760345  111.262901  272.271240   20.670919
2021-10-01  173.836472  143.859787  113.255402  325.431244   29.352179
2022-01-01  171.188156  138.114914  111.641212  298.873840   27.234760
2022-04-01  134.211456  108.216621  122.692612  249.484207   15.133113
2022-07-01  135.863617   94.994812  104.497040  226.765579   12.120832
2022-10-01  127.910889   87.625641  125.478333  233.998947   14.596463
2023-01-01  162.606766  103.019470  118.142326  282.095001   27.750767
2023-04-01  191.564499  118.880074  122.074944  334.045227   42.269226
2023-07-01  169.320633  129.963638  129.741089  310.405121   43.469799
2023-10-01  190.662460  138.733139  152.981781  370.457214   49.492832
2024-01-01  170.040390  149.896149  180.646362  415.315125   90.310707
2024-04-01  209.118286  180.902298  165.100647  442.024048  123.483871
2024-07-01  231.652512  164.903000  213.141312  426.325165  121.394798
2024-10-01  249.259949  188.468857  213.789841  418.359161  134.251511
2025-01-01  221.344254  154.137482  243.733536  373.338562  108.356400
2025-04-01  204.669022  175.859634  290.864807  495.683655  157.970123
2025-07-01  254.341354  242.882767  280.265106  517.099976  186.569489
2025-10-01  262.820007  259.920013  307.459991  523.609985  186.259995

Price             High                                                  ...  \
Ticker            AAPL       GOOGL         IBM        MSFT        NVDA  ...
Date                                                                    ...
2020-10-01  135.003469   91.560000   98.371290  218.727250   14.646790  ...
2021-01-01  141.375089  106.522309  107.128794  236.613536   15.330244  ...
2021-04-01  134.091840  122.252310  121.050284  261.748297   20.114016  ...
2021-07-01  153.723158  145.252192  118.126235  295.372557   22.992855  ...
2021-10-01  178.300592  149.932405  118.271094  338.349028   34.577707  ...
2022-01-01  179.354914  150.508423  122.099520  327.655148   30.653330  ...
2022-04-01  175.215063  142.727605  125.768828  306.097298   27.510939  ...
2022-07-01  173.172039  121.591371  124.779015  286.431508   19.245154  ...
2022-10-01  155.052460  104.101998  136.450680  257.513983   18.767453  ...
2023-01-01  162.705381  107.438985  132.643125  283.044125   27.807712  ...
2023-04-01  192.068169  128.156093  127.238568  344.766763   43.955922  ...
2023-07-01  196.042445  138.206788  140.495811  360.571306   50.232255  ...
2023-10-01  197.683684  141.702648  155.591491  378.594564   50.518229  ...
2024-01-01  194.731359  152.726633  188.422391  425.285379   97.351175  ...
2024-04-01  218.629983  184.775593  184.507970  451.142433  140.696041  ...
2024-07-01  235.858044  190.655104  216.101064  464.023703  136.099314  ...
2024-10-01  258.895115  200.535638  232.773503  452.760893  152.846187  ...
2025-01-01  249.115663  206.377174  261.171088  445.929672  153.096664  ...
2025-04-01  224.640142  180.849127  292.226483  499.022034  158.690034  ...
2025-07-01  257.307989  255.771233  293.624762  554.538432  187.339449  ...
2025-10-01  265.290009  261.679993  310.750000  531.030029  195.619995  ...

Price             Open                                                  \
Ticker            AAPL       GOOGL         IBM        MSFT        NVDA
Date
2020-10-01  106.133218   80.620952   86.784602  195.878438   12.619230
2021-01-01  130.101337   87.397213   98.359661  213.926010   13.068229
2021-04-01  120.673874  103.895922  105.938802  229.777722   13.539614
2021-07-01  133.527821  120.891211  117.693774  260.382526   20.081206
2021-10-01  138.916446  133.526546  114.220722  272.986022   20.708501
2022-01-01  174.345055  144.061388  115.118733  325.086260   29.759012
2022-04-01  170.836888  138.544451  112.673165  300.521481   27.328251
2022-07-01  133.740130  107.193672  124.013828  249.636890   14.876702
2022-10-01  136.062232   96.097210  107.015948  229.695986   12.332183
2023-01-01  128.468223   88.976320  127.163654  237.848270   14.836974
2023-04-01  162.232824  101.688646  119.484013  281.055478   27.487689
2023-07-01  191.641556  118.423230  123.378870  333.448341   42.488456
2023-10-01  169.559169  130.311230  130.990934  311.584418   44.004066
2024-01-01  185.578836  137.600960  154.035643  369.057107   49.219313
2024-04-01  169.969427  149.657802  181.376834  419.277537   90.257977
2024-07-01  210.863435  181.984895  167.221637  444.515583  123.424041
2024-10-01  228.456772  166.953738  214.567862  425.257385  121.735102
2025-01-01  248.049440  190.030458  217.425295  423.204538  135.970389
2025-04-01  219.273274  153.297151  244.735729  373.349705  108.506340
2025-07-01  206.435715  175.582960  292.571883  495.655217  156.281187
2025-10-01  255.039993  240.750000  280.200012  514.799988  185.240005

Price           Volume
Ticker            AAPL       GOOGL        IBM        MSFT         NVDA
Date
2020-10-01  4445266900  1240542000  215991155  1168204700  12715816000
2021-01-01  6724535800  2226680000  429470130  1863984400  20483152000
2021-04-01  5208382400  1850768000  319448819  1572318700  24046468000
2021-07-01  5178413000  1663234000  268762065  1466900300  19238449000
2021-10-01  5700874900  1948830000  384799058  1652075800  26840753000
2022-01-01  5916762400  2424494000  342082600  2378916200  32971033000
2022-04-01  5837935700  2382356000  326721500  1991617700  35502202000
2022-07-01  5042087800  1918661300  294476700  1587636000  35764702000
2022-10-01  5268718600  2001138800  293563600  1877879800  32096032000
2023-01-01  4271118000  2485411900  319894200  2029304100  31112170000
2023-04-01  3542524400  2081569400  280608500  1700079100  29661319000
2023-07-01  3656594800  1779270200  252845000  1562965300  30918270000
2023-10-01  3335649700  1835976600  260678600  1626925900  26697606000
2024-01-01  3782196100  1902210500  318554300  1399027700  32916811000
2024-04-01  4300607500  1662343600  247617800  1196580900  27141684700
2024-07-01  3507864500  1609410900  230155300  1269266300  20781969600
2024-10-01  2800240400  1744838600  264434100  1322954100  14211187000
2025-01-01  3177688200  1861863800  287390500  1386736700  16881581500
2025-04-01  3903456100  2632524900  273330900  1441341600  15389107000
2025-07-01  3563551100  2307150800  324288000  1275795900  11096190900
2025-10-01   841800617   535485526  123849885   324190560   3043024577

[21 rows x 25 columns]

In [15]:
import pandas as pd

print(S_date , E_date)
#E_date - S_date
today = pd.Timestamp(S_date)
step = pd.Timedelta("7D")
next_week = today + step
print(next_week)

2004-8-1 2025-10-28
2004-08-08 00:00:00